.detail-container .item-panaderia-descripcion{
    display: block;
}

/*para pc*/
@media(min-width: 960px){
    .detail-container > .product-item {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        text-align: left;
        justify-content: space-between;
    }
    .detail-container > .product-item > .product-item-imagen{
        width: 30%;
        display: flex;
        align-items: center;
        background: black;
    }
    .detail-container > .product-item img {
        width: 100%;
    }
    .detail-container > .product-item > .product-item-panaderia-textos {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 20px;
        justify-content: space-between;
        width: 70%;
    }
    .detail-container .item-panaderia-descripcion{
        margin: 20px 0px;
    }
    .detail-container  .product-item-panaderia-texto-principal{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}