/**para cel*/
@media(min-width: 720px){
    .productos-panaderia-grid{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 30px;
        padding: 10px 0;
    }
    .productos-panaderia-grid  .product-item{
        display: flex;
        justify-content: space-between;
    }
    .productos-panaderia-grid  .product-item  .product-item-imagen {
        background: black;
        height: 65%;
        display: flex;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }
}

/**para tablet*/
@media(min-width: 960px){
    .productos-panaderia-grid{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        gap: 30px; 
        padding: 10px 0;
    }
}

/***para pc**/
@media(min-width: 1140px){
    .productos-panaderia-grid{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 30px; 
        padding: 10px 0;
    }
}