.logo-panaderia {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffcc66;
  margin-top: 0px;
}
header{
  padding: 2rem 0;
}

/**para pc**/
@media(min-width: 1140px){
  header{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  }
  .header-logo{
    display: flex;
    align-items: center;
  }
  .header-logo > img{
    width: auto;
    height: 60px;
    padding-right: 15px;
  }
}