ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: left;
}
nav ul li a {
  display: inline-flex;
  color: white;
  text-decoration: none;
  font-weight: bold;

  text-align: center;
  padding: 14px 16px;
}
nav ul li a:hover {
  text-decoration: underline;
  text-decoration: none;
  background-color: #111111;
  color:#ffffff;
}
nav ul .opcion-carrito:hover{
  background-color: #111111;
}
.in-cart{
  background-color: red;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.25em;
  display: inline-block;
  min-width: 25px; /*para q sea redondo*/
  text-align: center;
  margin-left: 0.25rem;
  justify-content: center;
  text-align: center;
}
.cart-container:hover{
 background-color: #111111;
}
div .nav-bar-con-burger-menu{
  display: none;
}

/*para celu*/
@media(max-width: 720px){
  
  /**nav-bar**/
  .nav-bar-sin-burger-menu{
    display: none;
  }

  /**menu hamburguesa**/
  div .nav-bar-con-burger-menu{
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0rem 0.5rem;
    outline: none;
    width: 100%;
  }
  .nav-bar-con-burger-menu2{
    display: none;
    margin-top:0;
    padding: 0;
  }
  #menu:checked  ~ .nav-bar-con-burger-menu2 {
    display: flex;
    flex-direction: column;
  }
  #menu {
    display: none;
  }
  .menu {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  .nav-bar-con-burger-menu-desplegable a{
    text-decoration: none;
    color: #333333;
    display: block;/*este y el padding de abajo lo arreglo al botoon*/
    padding: 10px 20px;
      
  } 
  .nav-bar-con-burger-menu-desplegable a:hover{
    background: #1e1e1e;
  }
  .nav-bar-con-burger-menu-desplegable{
    display: block;
    background:#fac65e ;
    margin: 0;
    list-style: none;
    border-bottom: 0.2px solid #333333;
  }
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  .nav-bar-con-burger-menu-desplegable:hover {
    filter: brightness(110%);
  }
/*estilo de la hamburguesa*/
  div.nav-bar-con-burger-menu i {
    background-color: #fac65e;
    border-radius: 5px;
    color: #333333;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: 40px;
  }
  .nav-bar-con-burger-menu label {
    cursor: pointer;
    display: inline-block;
    outline: none; /* Esto quita el borde punteado */
    }
  /*fin de menu hamburguesa */
}